/* ===============================
   📦 lecture-detail.css
   작성 순서: 레이아웃 → 박스모델 → 테두리 → 배경 → 타이포그래피 → 비주얼 → 기타
================================= */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    background: var(--bg-white);
    font-family: 'Inter', 'Noto Sans KR', sans-serif;
    color: var(--text-secondary);
}
/*강의명*/
.lecture-name {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 80px 0 20px;
}

.lecture-name h1 {
    font-size: 36px;
    font-weight: 400;
}

/* 요약 박스 */
.lecture-summary {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    width: 1280px;
    height: 300px;
    border-top: var(--border-primary);
    border-bottom: var(--border-primary);
    background: var(--bg-white);
    overflow: hidden;
    padding: 25px 0;
}

/* 강의 이미지 */
.lecture-thumb {
    width: 347px;
    height: 250px;
}

/* 강의 정보 */
.lecture-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 560px;
}

.lecture-desc {
    font-size: 20px;
}

.lecture-meta {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.lecture-meta > div {
    display: flex;
    align-items: center;
}

.lecture-meta .label {
    width: 90px;
    font-weight: 700;
    margin-right: 10px;
}

/* 가격 및 결제 버튼 */
.lecture-purchase {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    align-self: flex-end;
}

.price {
    font-size: 20px;
    color: var(--text-secondary);
}

.purchase-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 50px;
    background: var(--bg-point-main);
    border: var(--bg-point-main);
    color: var(--text-white);
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* 탭 메뉴 */
.lecture-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1280px;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 425px;
    padding: 10px;
    font-size: 20px;
    color: var(--text-primary);
    cursor: pointer;
}

.tab.active, .tab:hover {
    border-bottom: 1px solid var(--bg-point-hover);
    color: var(--text-point-main);
}



