@charset "UTF-8";

/* Sidebar Layout */
aside {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 100vh;
    background-color: #2c323d;
    color: #fff;
}

.logo-area {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.logo {
    width: 80px;
}

/* Menu */
.menu {
    font-size: 15px;
}
.menu-section {
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.menu-section button {
    display: flex;
    gap: 10px;
    width: 100%;
    background: none;
    color: #fff;
    padding: 12px 20px;
    border: none;
    text-align: left;
    cursor: pointer;
}
.menu-section.active button {
    background-color: #30477b;
}
.submenu {
    list-style: none;
    padding: 6px 0 6px 30px;
    background-color: #3b4250;
}
.submenu li a {
    display: block;
    padding: 8px 0;
    color: #ccc;
    text-decoration: none;
}
.submenu li a:hover {
    color: #fff;
}

button img {
    width: 24px;
}