.mypage {
    display: flex;
    gap: 60px;
    align-items: flex-start;
}

.content {
    flex: 1;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 40px 60px;
    box-sizing: border-box;
}

.content h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #1a1a1a;
}
/* -------------------- 클래스 테이블 -------------------- */
.class-table {
    width: 100%;
    border-top: 2px solid var(--text-point-main);
    border-collapse: collapse;
    margin-top: 10px;
    background-color: var(--bg-white);
}

/* -------------------- 테이블 헤더 -------------------- */
.table-header {
    display: grid;
    grid-template-columns: 180px 1fr 120px 120px 120px;
    padding: 15px 20px;

    font-size: 15px;
    font-weight: 600;
    color: var(--text-secondary);

    border-bottom: var(--border-default);
    background-color: var(--bg-white);
}

/* -------------------- 테이블 바디 -------------------- */
.table-body {
    display: flex;
    flex-direction: column;
}

.table-row {
    display: grid;
    grid-template-columns: 180px 1fr 120px 120px 120px;
    align-items: center;
    padding: 18px 20px;

    font-size: 15px;
    color: var(--text-primary);

    border-bottom: 1px solid #efefef;
    background-color: var(--bg-white);
}

/* -------------------- 썸네일 -------------------- */
.thumb {
    display: flex;
    align-items: center;
    margin-right: 0px;
}

.thumb img {
    width: 160px;
    height: 90px;
    border-radius: 6px;
    object-fit: cover;
}

/* -------------------- 제목 -------------------- */
.title {
    font-size: 15px;
    color: var(--text-primary);
}

/* -------------------- 태그 -------------------- */
.tag {
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    padding: 4px 10px;
    border-radius: 16px;
}

.tag.gray {
    background-color: var(--bg-secondary);
    color: var(--text-subtle);
}
