.error-message{
    position: relative;
    left: 10px;           /* h2 오른쪽으로 약간 이동 */
    top: -2px;            /* h2 높이에 맞춰 살짝 올림 */
    color: var(--text-error);       /* 빨간색 */
    font-size: 14px;      /* 작게 */
    font-weight: 500;
}

.password-modal {
    display: none; /* 기본 숨김 */
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-overlay);
    justify-content: center;
    align-items: center;
}

.password-modal-content {
    background: var(--bg-white);
    border-radius: 12px;
    padding: 30px 40px;
    width: 350px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.password-modal-content h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.password-modal-content p {
    font-size: 14px;
    color: var(--text-placeholder);
    margin-bottom: 20px;
}

.password-modal-content input[type="password"] {
    width: 100%;
    padding: 10px 12px;
    border: var(--border-default);
    border-radius: 6px;
    margin-bottom: 20px;
}

.password-modal-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.confirm-btn {
    background-color: var(--bg-point-main);
    color: var(--text-white);
    border: none;
    border-radius: 8px;
    padding: 8px 14px;
    cursor: pointer;
    font-weight: 600;
}

.cancel-btn {
    background-color: var(--bg-white);
    color: var(--text-placeholder);
    border: none;
    border-radius: 8px;
    padding: 8px 14px;
    cursor: pointer;
    font-weight: 600;
}
